<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/global.css}"/>
    </head>
    <body>
        <form th:action="@{/exercice}" th:object="${exerciceForm}" method="POST">
            <input type="hidden" th:field="${exerciceForm.exerciceId}">
            <label th:text="${exerciceForm.title}"></label>

            <Label >Ennoncé : </Label>
            <p th:text="${exerciceForm.statement}"></p>

            <label>Code : </label>
            <textarea cols="300" rows="20" th:field="*{code}">Write your code here.</textarea>

            <button type="submit" >Login</button>
        </form>
    </body>
</html>