<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/exerciceList.css}"/>
</head>
<body>
    <label>Liste des Exercices : </label>
    <tr th:each="exercice: ${exercices}">
        <!--<form action="getExercice" th:object="${elementList}" method="POST">-->
            <div>
                <input type="hidden" th:field="*{exercice.id}">
                <td th:text="${exercice.title}" th:field="*{exercice.title}"/>
                <td th:text="${exercice.statement}" th:field="*{exercice.statement}"/>
                <div id="testbutton">
                   <!-- <button type="submit"></button> -->
                </div>
            </div>
        <!--</form>-->
    </tr>
</body>
</html>