<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/global.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/exercice.css}"/>

        <!-- Create a simple CodeMirror instance -->
        <link rel="stylesheet" th:href="@{/codemirror/lib/codemirror.css}">
        <script th:src="@{/codemirror/lib/codemirror.js}"></script>
        <script th:src="@{/codemirror/mode/javascript/javascript.js}"></script>
    </head>
    <body>
        <form th:action="@{/exercice}" th:object="${exerciceForm}" method="POST">
            <input type="hidden" th:field="*{exerciceId}">

            <h2 th:text="${exerciceForm.title}"></h2>

            <b>Ennoncé : </b><br>
            <i th:text="${exerciceForm.statement}"></i><br><br>

            <b>Réponse : </b>
            <textarea id="code-mirror" cols="300" rows="20" th:field="*{code}"></textarea>

            <div class="button-group">
                <button type="submit" class="green-button" >Valider</button>
            </div>
        </form>


        <script>
            let textArea = document.getElementById('code-mirror')

            CodeMirror.fromTextArea(textArea, {
                lineNumbers: true,
                mode: "javascript"
            });
        </script>
    </body>
</html>