<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/global.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/exerciceList.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
    </head>
    <div th:insert="~{header :: header}"></div>
    <body>
        <h2>Liste des Exercices</h2>

        <div class="table-wrapper">
            <table class="fl-table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Statement</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="exercice: ${exercices}">
                        <!--<input type="hidden" th:field="*{exercice.id}">
                        th:field="*{exercice.title}"
                        th:field="*{exercice.statement}"
                        -->
                        <td th:text="${exercice.id}" />
                        <td th:text="${exercice.title}" />
                        <td th:text="${exercice.content}"/>
                        <td>
                           <a th:href="@{'/exercice?id=' + ${exercice.id}}">
                               <button type="submit" class="blue_button">Voir</button>
                           </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>