<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/exerciceList.css}"/>
</head>
<body>
    <label>Liste des Exercices : </label>
    <tr th:each="exercice: ${exercices}">

            <div>
                <!--<input type="hidden" th:field="*{exercice.id}">
                th:field="*{exercice.title}"
                th:field="*{exercice.statement}"
                -->
                <td th:text="${exercice.title}" />
                <td th:text="${exercice.statement}"/>

                <form action="getExercice" th:object="${exerciceForm}" method="POST">
                    <input type="hidden" th:field="*{exerciceId}" th:value="${exercice.id}">
                    <button type="submit" th:href="a">Go</button>
                    </form>
                </div>
        </tr>
    </body>
    </html>