<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/exerciceList.css}"/>
    </head>

    <body>
        <h2>Solved exercices list</h2>

        <div class="table-wrapper">
            <table class="fl-table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Statement</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="solvedExercice: ${solvedExercices}">
                        <td th:text="${solvedExercice.id}" />
                        <td th:text="${solvedExercice.title}" />
                        <td th:text="${solvedExercice.statement}" />
                        <td><button class="blue_button" th:href="">Voir</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>