<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des réponses</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/exerciceList.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
</head>

<body>
<div th:insert="~{header :: header}"></div>
<h2>User Responses List</h2>

<div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th>Réponses</th>
            <th>Résultat</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="response: ${responsesList}">
            <td th:text="${response.codeSent}" />
            <td th:text="${response.status}" />
            <td th:text="${response.date}" />
            <td>
                <a th:href="@{'/solvedExercice?id=' + ${response.id}}">
                    <button type="submit" class="blue_button">Voir</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>